<!-- Header -->
<header class="header header-one">
    <div class="container">
        <nav class="navbar navbar-expand-lg header-nav">
            <div class="navbar-header">
                <a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
                </a>
                <a href="{{ path('home') }}" class="navbar-brand logo">
                    <img src="{{ asset('assets/img/logo.svg') }}" class="img-fluid" alt="Logo">
                </a>
                <a href="{{ path('home') }}" class="navbar-brand logo-small">
                    <img src="{{ asset('assets/img/logo-small.png') }}" class="img-fluid" alt="Logo">
                </a>
            </div>
            <div class="main-menu-wrapper">
                <div class="menu-header">
                    <a href="{{ path('home') }}" class="menu-logo">
                        <img src="{{ asset('assets/img/logo.svg') }}" class="img-fluid" alt="Logo">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);"> <i class="fas fa-times"></i></a>
                </div>
                <ul class="main-nav">
                    <li {% if app.request.attributes.get('_route') == 'home' %}class="active"{% endif %}><a href="{{ path('home') }}">Accueil</a></li>
                    <li><a href="#">Comment ça marche</a></li>
                    {% if is_granted('ROLE_TENANT') %}
                        <li {% if app.request.attributes.get('_route') == 'tenant_dashboard' %}class="active"{% endif %}><a href="{{ path('tenant_dashboard') }}">Locataire</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_OWNER') %}
                        <li><a href="{{ path('owner_dashboard') }}">Propriétaire</a></li>
                    {% endif %}

                </ul>
            </div>
            <ul class="nav header-navbar-rht">
                {% if app.user %}

                    <!-- Notifications -->
                    <li class="nav-item dropdown logged-item noti-nav noti-wrapper">
                        <a href="#" class="dropdown-toggle nav-link notify-link" data-bs-toggle="dropdown">
                            <span class="noti-message">1</span>
                            <img src="{{ asset('assets/img/icons/bell-icon.svg') }}" alt="Bell">
                        </a>
                        <div class="dropdown-menu notify-blk notifications">
                            <div class="topnav-dropdown-header">
                                <div>
                                    <p class="notification-title">Notifications <span> 3 </span></p>
                                </div>
                                <a href="javascript:void(0)" class="clear-noti"><i class="fa-regular fa-circle-check"></i> Mark all as read </a>
                            </div>
                            <div class="noti-content">
                                <ul class="notification-list">
                                    <li class="notification-message">
                                        <a href="notification.html">
                                            <div class="media noti-img d-flex">
													<span class="avatar avatar-sm flex-shrink-0">
														<img class="avatar-img rounded-circle img-fluid" alt="User Image" src="{{ asset('assets/img/notifications/avatar-01.jpg') }}">
													</span>
                                                <div class="media-body flex-grow-1">
                                                    <p class="noti-details">Lex Murphy left 6 comments on Isla Nublar SOC2 compliance report</p>
                                                    <p class="noti-time"><span class="notification-time">1m ago</span></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="notification-message">
                                        <div class="media noti-img d-flex">
                                            <a href="notification.html">
													<span class="avatar avatar-sm flex-shrink-0">
														<img class="avatar-img rounded-circle img-fluid" alt="User Image" src="{{ asset('assets/img/notifications/avatar-02.jpg') }}">
													</span>
                                            </a>
                                            <div class="media-body flex-grow-1">
                                                <a href="notification.html"><p class="noti-details">Ray Arnold requested access to UNIX directory tree hierarchy</p></a>
                                                <p class="noti-time"><span class="notification-time">1 min</span></p>
                                                <div class="notify-btns">
                                                    <button class="btn btn-secondary">Decline</button>
                                                    <button class="btn btn-primary">Accept</button>
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="notification-message">
                                        <a href="notification.html">
                                            <div class="media noti-img d-flex">
													<span class="avatar avatar-sm flex-shrink-0">
														<img class="avatar-img rounded-circle img-fluid" alt="User Image" src="{{ asset('assets/img/notifications/avatar-03.jpg') }}">
													</span>
                                                <div class="media-body flex-grow-1">
                                                    <p class="noti-details">Dennis Nedry commented on Isla Nublar SOC2 compliance report</p>
                                                    <p class="noti-time"><span class="notification-time">1m ago</span></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="notification-message">
                                        <a href="notification.html">
                                            <div class="media noti-img d-flex">
													<span class="avatar avatar-sm flex-shrink-0">
														<img class="avatar-img rounded-circle img-fluid" alt="User Image" src="{{ asset('assets/img/notifications/avatar-04.jpg') }}">
													</span>
                                                <div class="media-body flex-grow-1">
                                                    <p class="noti-details">John Hammond created Isla Nublar SOC2 compliance report  </p>
                                                    <p class="noti-time"><span class="notification-time">1m ago</span></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="topnav-dropdown-footer">
                                <a href="notification.html">View All Notifications <img src="{{ asset('assets/img/icons/arrow-right-01.svg') }}" alt="Arrow"></a>
                            </div>
                        </div>
                    </li>
                    <!-- /Notifications -->

                    <!-- User Menu -->
                    <li class="nav-item dropdown has-arrow account-item">
                        <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                            <div class="user-infos">
									<span class="user-img">
										<img src="{{ asset('assets/img/profiles/avatar-02.jpg') }}" class="rounded-circle" alt="User Image">
									</span>
                                <div class="user-info">
                                    <h6>{{ app.user.firstName }} {{ app.user.lastName }}</h6>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end emp">
                            <a class="dropdown-item" href="{{ path('user_profile') }}">
                                <i class="feather-user me-2"></i> Profil
                            </a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">
                                <i class="feather-log-out me-2"></i> Déconnexion
                            </a>
                        </div>
                    </li>
                    <!-- /User Menu -->
                {% else %}
                    <li class="nav-item">
                        <div class="cta-btn">
                            <a class="btn" href="{{ path('choses') }}"><i class="feather-calendar me-2"></i>TROUVER/LOUER</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-login" href="{{ path('app_login') }}"><i class="fa-regular fa-circle-user me-2"></i>ESPACE CLIENT</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
<!-- /Header -->