<!-- Notifications -->
<li class="nav-item dropdown logged-item noti-nav noti-wrapper">
    <a href="#" class="dropdown-toggle nav-link notify-link" data-bs-toggle="dropdown">
        <span class="noti-message">{{ notifications|length }}</span>
        <img src="{{ asset('assets/img/icons/bell-icon.svg') }}" alt="Bell">
    </a>
    <div class="dropdown-menu notify-blk notifications">
        <div class="topnav-dropdown-header">
            <div>
                <p class="notification-title">Notifications <span> {{ notifications|length }} </span></p>
            </div>
            <a href="javascript:void(0)" class="clear-noti"><i class="fa-regular fa-circle-check"></i> Marquer tout comme lu </a>
        </div>
        <div class="noti-content">
            <ul class="notification-list" style="overflow-y: scroll; height:300px;">
                {% for notification in notifications %}
                    <li class="notification-message">
                        <div class="media noti-img d-flex">
                            <div class="media-body flex-grow-1">
                                <p class="noti-details">{{ notification.message }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}

{#                <li class="notification-message">#}
{#                    <div class="media noti-img d-flex">#}
{#                        <div class="media-body flex-grow-1">#}
{#                            <a href="notification.html">#}
{#                                <p class="noti-details">Ray Arnold requested access to UNIX directory tree hierarchy</p>#}
{#                            </a>#}
{#                            <div class="notify-btns">#}
{#                                <button class="btn btn-secondary">Decline</button>#}
{#                                <button class="btn btn-primary">Accept</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
            </ul>
        </div>
        <div class="topnav-dropdown-footer">
            <a href="notification.html">Voir toutes les notifications <img src="{{ asset('assets/img/icons/arrow-right-01.svg') }}" alt="Arrow"></a>
        </div>
    </div>
</li>
<!-- /Notifications -->