{% extends 'base.html.twig' %}

{% block title %}
    {{ garage.name }}
{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome/css/all.min.css') }}">

    <!-- Fearther CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/feather.css') }}">

    <!-- select CSS -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/select2/css/select2.min.css') }}">

    <!-- leaflet CSS -->
    <link rel="stylesheet" href="{{ asset('assets/leaflet/leaflet.css') }}">

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datetimepicker.min.css') }}">

    <!-- Owl carousel CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">

    <!-- Fancybox CSS -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/fancybox/jquery.fancybox.min.css') }}">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block body %}

    <div class="content">

        <div class="container">
            <div class="row">

                <!-- Service Profile -->
                <div class="col-md-8">
                    <div class="serv-profile" id="active-service"
                         data-city-long="{{ garage.city.longitude }}" data-city-lat="{{ garage.city.latitude }}"
                         data-city-postal="{{ garage.city.postalCode }}" data-city-name="{{ garage.city.name }}">
                        <h2>{{ garage.name }}</h2>
                        <ul>
                            <li class="service-map"><i class="feather-map-pin"></i> {{ garage.city.name }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="serv-action">
                        <ul>
                            <li>
                                <a href="#" data-bs-toggle="tooltip" title="Share"><i class="feather-share-2"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="feather-printer"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="service-gal">
                        <div class="row gx-2">
                            <div class="col-md-9">
                                <div class="service-images big-gallery">
                                    <img src="{{ asset('uploads/images/' ~ garage.images[0].name) }}" class="img-fluid" alt="img">
                                    <a href="{{ asset('uploads/images/' ~ garage.images[0].name) }}" data-fancybox="gallery" class="btn btn-show"><i class="feather-image me-2"></i>Afficher les photos</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                {% if garage.images|length > 1 and garage.images[1].name is defined %}
                                    <div class="service-images small-gallery">
                                        <a  href="{{ asset('uploads/images/' ~ garage.images[1].name) }}" data-fancybox="gallery">
                                            <img src="{{ asset('uploads/images/' ~ garage.images[1].name) }}" class="img-fluid" alt="img">
                                            <span class="circle-icon"><i class="feather-plus"></i></span>
                                        </a>
                                    </div>
                                {% endif %}
                                {% if garage.images|length > 2 and garage.images[2].name is defined %}
                                    <div class="service-images small-gallery">
                                        <a  href="{{ asset('uploads/images/' ~ garage.images[2].name) }}" data-fancybox="gallery">
                                            <img src="{{ asset('uploads/images/' ~ garage.images[2].name) }}" class="img-fluid" alt="img">
                                            <span class="circle-icon"><i class="feather-plus"></i></span>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Service Profile -->
            </div>

            <div class="row">

                <!-- Service Details -->
                <div class="col-lg-8">
                    <div class="service-wrap provide-service">
                        <h5>Service Provider</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="provide-box">
                                    <span><i class="feather-user"></i></span>
                                    <div class="provide-info">
                                        <h6>{{ app.user.firstName }} {{ app.user.lastName }}</h6>
                                        <p>Membre depuis {{ app.user.createdAt|format_datetime(locale='fr', pattern='MMMM yyyy') }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="provide-box">
                                    <span><i class="feather-map-pin"></i></span>
                                    <div class="provide-info">
                                        <h6>Adresse </h6>
                                        <p>
                                            {{ garage.address }} <span><i class="feather-map-pin"></i> {{ garage.city.name }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="provide-box">
                                    <span><i class="feather-phone"></i></span>
                                    <div class="provide-info">
                                        <h6>Téléphone</h6>
                                        <p>{{ garage.owner.phone }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-wrap">
                        <h5>Description</h5>
                        <p>
                            {{ garage.description|nl2br }}
                        </p>
                    </div>

                    <div class="service-wrap">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Gallery</h5>
                            </div>
                            <div class="col-md-6 text-md-end">
                                <div class="owl-nav mynav3"></div>
                            </div>
                        </div>
                        <div class="owl-carousel gallery-slider">
                            {% for image in garage.images %}
                                <div class="gallery-widget">
                                    <a href="{{ asset('uploads/images/' ~ image.name) }}" data-fancybox="gallery">
                                        <img class="img-fluid" alt="Image" src="{{ asset('uploads/images/' ~ image.name) }}">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="service-wrap">
                        <h5>Avis</h5>
                        <ul>
                            <li class="review-box">
                                <div class="review-profile">
                                    <div class="review-img">
                                        <div class="review-name">
                                            <h6>Dennis</h6>
                                            <p>a week ago</p>
                                        </div>
                                    </div>
                                    <div class="rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqa. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                                <div class="recommend-item">
                                    <div class="recommend-info">
                                        <p>Recommend?</p>
                                        <a href="#"><i class="feather-thumbs-up"></i> Yes</a>
                                        <a href="#"><i class="feather-thumbs-down"></i> No</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="text-center">
                            <a href="customer-reviews.html" class="btn btn-primary btn-review">View All Reviews</a>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="service-wrap">
                                <h5>Related Services</h5>
                            </div>
                        </div>
                        <div class="col-md-6 text-md-end">
                            <div class="owl-nav mynav"></div>
                        </div>
                    </div>
                    <div class="owl-carousel related-slider">

                        <div class="service-widget mb-0">
                            <div class="service-img">
                                <a href="service-details.html">
                                    <img class="img-fluid serv-img" alt="Service Image" src="{{ asset('assets/img/services/service-01.jpg') }}">
                                </a>
                                <div class="fav-item">
                                    <a href="categories.html"><span class="item-cat">Cleaning</span></a>
                                    <a href="javascript:void(0)" class="fav-icon">
                                        <i class="feather-heart"></i>
                                    </a>
                                </div>
                                <div class="item-info">
                                    <a href="providers.html"><span class="item-img"><img src="{{ asset('assets/img/profiles/avatar-04.jpg') }}" class="avatar" alt="User"></span></a>
                                </div>
                            </div>
                            <div class="service-content">
                                <h3 class="title">
                                    <a href="service-details.html">Electric Panel Repairing Service</a>
                                </h3>
                                <p><i class="feather-map-pin"></i>Montana, USA<span class="rate"><i class="fas fa-star filled"></i>4.9</span></p>
                                <div class="serv-info">
                                    <h6>$25.00<span class="old-price">$35.00</span></h6>
                                    <a href="booking.html" class="btn btn-book">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /Service Details -->

                <div class="col-lg-4 theiaStickySidebar">

                    <!-- Service Availability -->
                    <div class="card card-provide mb-0">
                        <div class="card-body">
                            <div class="provide-widget">
                                <div class="service-amount">
                                    <h5>{{ garage.pricePerHour }}€/h - {{ garage.pricePerDay }}€/j</h5>
                                    <p class="serv-review"><i class="fa-solid fa-star"></i> <span>4.9 </span>(255 reviews)</p>
                                </div>
                            </div>
                            <div class="card card-available">
                                <div class="card-body">
                                    <div class="available-widget">
                                        <div class="available-info">
                                            <h5>Disponibilités</h5>
                                            <hr>
                                            {% if garage.availability|length == 1 %}
                                                {% if garage.availability[0].startAt is not null %}
                                                    <h5>Date de début : {{ garage.availability[0].startAt|date('d-m-Y') }}</h5>
                                                {% endif %}

                                                {% if garage.availability[0].endAt is not null %}
                                                    <h5>Date de fin : {{ garage.availability[0].endAt|date('d-m-Y') }} </h5>
                                                {% endif %}
                                                <hr>
                                                {% set daysOfWeek = {
                                                    0: 'Lundi',
                                                    1: 'Mardi',
                                                    2: 'Mercredi',
                                                    3: 'Jeudi',
                                                    4: 'Vendredi',
                                                    5: 'Samedi',
                                                    6: 'Dimanche'
                                                } %}

                                                {% set availableDays = [] %}

                                                {% for time in garage.availability[0].availabilityTimes %}
                                                    {% set availableDays = availableDays|merge([time.dayOfWeek]) %}
                                                {% endfor %}

                                                <ul>
                                                    {% for day, dayName in daysOfWeek %}
                                                        <li>
                                                            {% if day in availableDays %}
                                                                {{ dayName }}
                                                                {% for time in garage.availability[0].availabilityTimes %}
                                                                    {% if time.dayOfWeek == day %}
                                                                        <span>{{ time.startTime|date('H:i') }} - {{ time.endTime|date('H:i') }}</span>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% else %}
                                                                {{ dayName }}
                                                                <span class="text-danger">Fermer</span>
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <span class="text-danger"> Aucune disponibilités n'est planifié mais vous pouvez réserver un créneau.</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="map-grid">
                                <div id="map" class="contact-map"></div>
                            </div>
                            <a href="booking.html" class="btn btn-primary">Réserver</a>
                        </div>
                    </div>

                    <!-- /Service Availability -->

                </div>

            </div>
        </div>
    </div>

{% endblock %}



{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('assets/js/jquery-3.7.0.min.js') }}"></script>

    <!-- leaflet -->
    <script src="{{ asset('assets/leaflet/leaflet-src.js') }}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Fearther JS -->
    <script src="{{ asset('assets/js/feather.min.js') }}"></script>

    <!-- Owl Carousel JS -->
    <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>

    <!-- select CSS -->
    <script src="{{ asset('assets/plugins/select2/js/select2.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/aos/aos.js') }}"></script>

    <!-- Datetimepicker JS -->
    <script src="{{ asset('assets/js/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap-datetimepicker.min.js') }}"></script>

    <!-- Sticky Sidebar JS -->
    <script src="{{ asset('assets/plugins/theia-sticky-sidebar/ResizeSensor.js') }}"></script>
    <script src="{{ asset('assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js') }}"></script>

    <!-- Fancybox JS -->
    <script src="{{ asset('assets/plugins/fancybox/jquery.fancybox.min.js') }}"></script>

    <!-- Sweetalert 2 -->
    <script src="{{ asset('assets/plugins/sweetalert/sweetalert2.all.min.js') }}"></script>

    <!-- Custom JS -->
    <script src="{{ asset('assets/js/script.js') }}"></script>
    <script src="{{ asset('assets/js/show-garage.js') }}"></script>

{% endblock %}