{% extends 'base.html.twig' %}

{% block title %}
Tableau de bord
{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome/css/all.min.css') }}">

    <!-- Fearther CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/feather.css') }}">

    <!-- select CSS -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/select2/css/select2.min.css') }}">

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datetimepicker.min.css') }}">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">
            <div class="row">

                {{ include('partials/custom-menu-tenant.html.twig') }}

                <div class="col-lg-9">
                    <div class="widget-title">
                        <h4>Tableau de bord locataire</h4>
                    </div>

                    <div class="row">
                        <!-- Recent Booking -->
                        <div class="col-lg-12 d-flex flex-column">
                            <h6 class="user-title">Recent Booking</h6>
                            <div class="table-responsive recent-booking flex-fill">
                                <table class="table mb-0">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="#" class="avatar avatar-m me-2"><img class="avatar-img rounded" src="{{ asset('assets/img/services/service-06.jpg') }}" alt="User Image"></a>
                                                <a href="#">Computer Repair<span><i class="feather-calendar"></i> 22 Sep 2023</span></a>
                                            </h2>
                                        </td>
                                        <td>
                                            <h2 class="table-avatar table-user">
                                                <a href="#" class="avatar avatar-m me-2"><img class="avatar-img" src="{{ asset('assets/img/profiles/avatar-02.jpg') }}" alt="User Image"></a>
                                                <a href="#">
                                                    John Smith
                                                    <span>john@example.com</span>
                                                </a>
                                            </h2>
                                        </td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-light-danger">Cancel</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /Recent Booking -->
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('assets/js/jquery-3.7.0.min.js') }}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Fearther JS -->
    <script src="{{ asset('assets/js/feather.min.js') }}"></script>

    <!-- select CSS -->
    <script src="{{ asset('assets/plugins/select2/js/select2.min.js') }}"></script>

    <script src="{{ asset('assets/plugins/aos/aos.js') }}"></script>

    <!-- Datetimepicker JS -->
    <script src="{{ asset('assets/js/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap-datetimepicker.min.js') }}"></script>

    <!-- Sticky Sidebar JS -->
    <script src="{{ asset('assets/plugins/theia-sticky-sidebar/ResizeSensor.js') }}"></script>
    <script src="{{ asset('assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js') }}"></script>

    <!-- Custom JS -->
    <script src="{{ asset('assets/js/script.js') }}"></script>
{% endblock %}

