{% extends 'base.html.twig' %}

{% block title %}
    Mes garages
{% endblock %}

{% block body %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">

                {{ include('partials/custom-menu-owner.html.twig') }}

                <div class="col-lg-10">
                    <!-- Page Header -->
                    <div class="page-header">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="provider-subtitle">
                                    <h6>Mes garages</h6>
                                </div>
                            </div>
                            <div class="col-md-8 d-flex align-items-center justify-content-md-end flex-wrap">
                                <a href="{{ path('owner_garage_add') }}" class="btn btn-primary add-set"><i class="feather-plus me-2"></i>Ajouter un garage</a>
                            </div>
                        </div>
                    </div>
                    <!-- /Page Header -->


                    <div class="tab-content pt-0">
                        <div class="tab-pane active" id="active-service">
                            <div class="row">

                                {% for garage in garages %}
                                    <!-- Favorite Item -->
                                    <div class="col-xl-4 col-md-6">
                                        <div class="service-widget pro-service">
                                            <div class="service-img">
                                                <a href="service-details.html">
                                                    {% for image in garage.images %}
                                                        {% if image.isPrincipal %}
                                                            <img class="img-fluid serv-img" alt="Service Image" src="{{ asset('uploads/images/' ~ image.name) }}">
                                                        {% endif %}
                                                    {% endfor %}
                                                </a>
                                            </div>
                                            <div class="service-content">
                                                <h3 class="title">
                                                    <a href="service-details.html">{{ garage.name }}</a>
                                                </h3>
                                                <div class="addrs-item">
                                                    <p><i class="feather-map-pin"></i>{{ garage.city.name }}</p>
                                                    <h6 class="price">€{{ garage.pricePerHour }}/h</h6>
                                                </div>
                                                <div class="serv-info">
                                                    <div>
                                                        <a href="{{ path('owner_garage_edit', {'id': garage.id}) }}" class="serv-edit"><i class="feather-edit"></i>Modifier</a>
                                                        <a href="{{ path('owner_garage_delete', {'id': garage.id}) }}" onclick="return confirm('Être vous sur de supprimer ce garage ?')" class="serv-edit"><i class="feather-trash"></i>Supprimer</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Favorite Item -->
                                {% endfor %}

                            </div>
                        </div>

                    </div>
                    <!-- Pagination -->
                    <div class="row">

                        <div class="col-sm-6">
                            {{ knp_pagination_render(garages) }}
                        </div>
                    </div>
                    <!-- /Pagination -->
                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('assets/js/jquery-3.7.0.min.js') }}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Fearther JS -->
    <script src="{{ asset('assets/js/feather.min.js') }}"></script>

    <!-- select CSS -->
    <script src="{{ asset('assets/plugins/select2/js/select2.min.js') }}"></script>

    <script src="{{ asset('assets/plugins/aos/aos.js') }}"></script>

    <!-- Datetimepicker JS -->
    <script src="{{ asset('assets/js/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap-datetimepicker.min.js') }}"></script>

    <!-- Sticky Sidebar JS -->
    <script src="{{ asset('assets/plugins/theia-sticky-sidebar/ResizeSensor.js') }}"></script>
    <script src="{{ asset('assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js') }}"></script>

    <!-- Custom JS -->
    <script src="{{ asset('assets/js/script.js') }}"></script>
{% endblock %}