<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="robots" content="index, follow">
        <meta name="copyright" content="lougar.fr all rights reserved ©" />
        <meta name="author" content="Bouchoucha Belhassen" />
        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ asset('assets/img/favicon.png') }}">
        {% block stylesheets %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
            <!-- Fontawesome CSS -->
            <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome/css/fontawesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome/css/all.min.css') }}">
            <!-- Fearther CSS -->
            <link rel="stylesheet" href="{{ asset('assets/css/feather.css') }}">
            <!-- select CSS -->
            <link rel="stylesheet" href="{{ asset('assets/plugins/select2/css/select2.min.css') }}">
            <!-- Owl carousel CSS -->
            <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
            <!-- Aos CSS -->
            <link rel="stylesheet" href="{{ asset('assets/plugins/aos/aos.css') }}">
            <!-- Main CSS -->
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% endblock %}

    </head>
    <body class="body-one">

    <div class="main-wrapper">
        {{ include('partials/header.html.twig') }}
        {% block body %}{% endblock %}
        {{ include('partials/footer.html.twig') }}
    </div>
    <!-- scrollToTop start -->
    <div class="progress-wrap active-progress">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
        </svg>
    </div>
    <!-- scrollToTop end -->
        {% block javascripts %}

            <!-- jQuery -->
            <script src="{{ asset('assets/js/jquery-3.7.0.min.js') }}"></script>

            <!-- Stripe -->
            <script src="https://js.stripe.com/v3/"></script>

            <!-- Bootstrap Core JS -->
            <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>

            <!-- Sticky Sidebar JS -->
            <script src="{{ asset('assets/plugins/theia-sticky-sidebar/ResizeSensor.js') }}"></script>
            <script src="{{ asset('assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js') }}"></script>

            <!-- Fearther JS -->
            <script src="{{ asset('assets/js/feather.min.js') }}"></script>

            <!-- Owl Carousel JS -->
            <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>

            <!-- select JS -->
            <script src="{{ asset('assets/plugins/select2/js/select2.min.js') }}"></script>

            <!-- Aos -->
            <script src="{{ asset('assets/plugins/aos/aos.js') }}"></script>

            <!-- Top JS -->
            <script src="{{ asset('assets/js/backToTop.js') }}"></script>

            <!-- Custom JS -->
            <script src="{{ asset('assets/js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
