{% extends 'base.html.twig' %}

{% block title %}
Choisir
{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">
            <div class="row">

                <!-- Choose Signup -->
                <div class="col-md-6 col-lg-6 mx-auto">
                    <div class="login-wrap">
                        <div class="login-header">
                            <h3>Que voulez-vous faire ?</h3>
                        </div>
                        <div class="row">

                            <!-- Provider Signup -->
                            <div class="col-md-6 d-flex">
                                <div class="choose-signup flex-fill">
                                    <h6>Louer votre garage</h6>
                                    <div class="choose-img">
                                        <img src="{{ asset('assets/img/provider.png') }}" alt="image">
                                    </div>
                                    <a href="{{ path('owner_register') }}" class="btn btn-secondary w-100">Inscription<i class="feather-arrow-right-circle ms-1"></i></a>
                                </div>
                            </div>
                            <!-- /Provider Signup -->

                            <!-- User Signup -->
                            <div class="col-md-6 d-flex">
                                <div class="choose-signup flex-fill mb-0">
                                    <h6>Trouver un garage</h6>
                                    <div class="choose-img">
                                        <img src="{{ asset('assets/img/user.png') }}" alt="image">
                                    </div>
                                    <a href="{{ path('tenant_register') }}" class="btn btn-secondary w-100">Inscription<i class="feather-arrow-right-circle ms-1"></i></a>
                                </div>
                            </div>
                            <!-- /User Signup -->

                        </div>

                    </div>
                </div>
                <!-- /Choose Signup -->

            </div>

        </div>
    </div>
{% endblock %}



<div class="sidebar-layout">
    <div class="sidebar-header">
        <h5>{{ reservation.garage.name }}</h5>
        <a href="#" class="sidebar-close"><i class="feather-x"></i></a>
    </div>
    <div class="sidebar-body">
        <div class="book-confirm bk-wrap">
            <div class="d-flex justify-content-between pb-3">
                {% if reservation.status == 1 %}
                    <span class="badge badge-warning">En attente</span>
                {% endif %}
                {% if reservation.status == 2 %}
                    <span class="badge badge-success">Confirmer</span>
                {% endif %}
                {% if reservation.status == 3 %}
                    <span class="badge badge-danger">Annuler</span>
                {% endif %}
            </div>
            <ul>
                <li><span class="bk-date"><i class="feather-calendar"></i> Date  </span> : {{ reservation.info|reservation_info }}</li>
                <li><span class="bk-date"><i class="feather-map-pin"></i> Ville  </span> : {{ reservation.garage.address }}, {{ reservation.garage.city.name }}</li>
            </ul>
            <div class="bk-action">
                {% if reservation.status == 1 %}
                    <a href="{{ path('owner_reservation_reservation_status', {'id': reservation.id, 'status': 2}) }}" class="btn btn-primary"><i class="feather-user"></i> Accepter</a>
                    <a href="{{ path('owner_reservation_reservation_status', {'id': reservation.id, 'status': 3}) }}" class="btn btn-secondary"><i class="feather-x-circle"></i> Annuler</a>
                {% endif %}
            </div>
        </div>
        <div class="book-customer bk-wrap">
            <h5>Detail client</h5>
            <div class="d-flex flex-wrap">
                <div class="book-email">
                    <div>
                        <p>{{ reservation.tenant.firstName }} {{ reservation.tenant.lastName }}</p>
                        <p>{{ reservation.tenant.email }}</p>
                    </div>
                </div>
                <div class="book-email-info">
                    <div>
                        <p>{{ reservation.tenant.phone }}</p>
                        <p>Montana, USA</p>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-primary btn-mail"><img src="{{ asset('assets/img/icons/message.svg') }}" alt="Message icon"> Chat</a>
                </div>
            </div>
        </div>
        <div class="bk-wrap">
            <h5>Dernier message dans le chat</h5>
            <p>Thanks for your interest in our services</p>
        </div>
        <div class="bk-wrap bk-service">
            <div>
                <h5>Montant</h5>
            </div>
            <p class="bk-price">€{{ reservation.info['totalPrice'] }}</p>
        </div>
    </div>
</div>


