{% extends 'base.html.twig' %}

{% block title %}
Mes réservations
{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome/css/all.min.css') }}">

    <!-- Fearther CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/feather.css') }}">

    <!-- select CSS -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/select2/css/select2.min.css') }}">

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datetimepicker.min.css') }}">

    <!-- Fullcalendar CSS -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/fullcalendar/main.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/fullcalendar/bootstrap-icons.css') }}">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

{% endblock %}

{% block body %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                {{ include('partials/custom-menu-owner.html.twig') }}
                <div class="col-lg-9">

                    <div class="page-wrapper">
                        <div class="content container-fluid">

                            <!-- Page Header -->
                            <div class="page-header">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="provider-subtitle">
                                            <h6>Mes réservations</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-8 d-flex align-items-center justify-content-md-end flex-wrap">
                                        <div class="review-sort me-2">
                                            <p>Sort</p>
                                            <select class="select">
                                                <option>A -> Z</option>
                                                <option>Most helpful</option>
                                            </select>
                                        </div>
                                        <div class="grid-listview">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="feather-filter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="provider-book-details.html" class="active">
                                                        <i class="feather-calendar"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="provider-services.html">
                                                        <i class="feather-grid"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="provider-booking.html">
                                                        <i class="feather-list"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Page Header -->

                            <!-- calendar -->
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- FullCalendar -->
                                    <div id="calendar-book"></div>
                                </div>
                            </div>
                            <!-- /calendar -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Booking Details -->
    <div class="toggle-sidebar" id="content_reservation">
    </div>
    <!-- /Booking Details -->

{% endblock %}

{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('assets/js/jquery-3.7.0.min.js') }}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Fearther JS -->
    <script src="{{ asset('assets/js/feather.min.js') }}"></script>

    <!-- select CSS -->
    <script src="{{ asset('assets/plugins/select2/js/select2.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/aos/aos.js') }}"></script>

    <!-- Datetimepicker JS -->
    <script src="{{ asset('assets/js/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/fr.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap-datetimepicker.min.js') }}"></script>


    <!-- Sticky Sidebar JS -->
    <script src="{{ asset('assets/plugins/theia-sticky-sidebar/ResizeSensor.js') }}"></script>
    <script src="{{ asset('assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js') }}"></script>

    <!-- Slimscroll JS -->
    <script src="{{ asset('assets/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <!-- Fullcalendar JS -->
    <script src="{{ asset('assets/plugins/fullcalendar/main.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/fullcalendar/fr.global.js') }}"></script>

    <!-- Custom JS -->
    <script src="{{ asset('assets/js/script.js') }}"></script>
    <script src="{{ asset('assets/js/owner-reservation.js') }}"></script>
{% endblock %}

